@import url('https://fonts.googleapis.com/css?family=Muli:300,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #c9c9c9;
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  background-color: #1f1e1e;
  border-radius: 10px;
  padding: 30px;
  width: 100%;
  max-width: 800px;
  text-align: center;
  margin: 0 20px;
}

.code-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
}

.code {
  background-color: inherit;
  color: inherit;
  border-radius: 5px;
  font-size: 75px;
  height: 120px;
  width: 100px;
  border: 1px solid #000;
  margin: 1%;
  text-align: center;
  font-weight: 300;
  appearance: textfield;
}

.code:focus {
  outline: none;
}

.code::-webkit-outer-spin-button,
.code::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus::placeholder {
  color: transparent;
}

.code:valid {
  border-color: darkslateblue;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.25);
}

@media (max-width: 800px) {
  .code-container {
    flex-wrap: wrap;
    margin: 20px;
  }

  .code {
    font-size: 52px;
    height: 80px;
    max-width: 70px;
  }
}
